:root {
    --white: rgba(204, 204, 204, 0.423);
}

*{
    margin: 0;
    padding: 0;
}

body{
    background-color: var(--white);
}

.container{
    width: 1000px;
    height: 80vh;
    margin: 2rem auto;
    background-color: var(--white);
    display: flex;
    flex-direction: column;
    align-content: space-between;
}

ul{
    list-style-type: none;
}

.header{
    display: flex;
    align-items: center;  
    flex-grow: 2;
    background-color: #4B4B4D;
}

#logo{
    flex-grow: 6;
    display: flex;
    align-content: space-around;
}

.logo-img{
    height: 2rem;
    width: 10rem;
    margin-left: 2rem;
    background-color:#D2D3D5;
}

.social-icons{
    flex-grow: 2;
}

.social-icons ul{
    display: flex;
    justify-content: flex-end;
}

.social-icons ul li div{
    width: 1.2rem;
    height: 1.2rem;
    border-radius: 50%;
    background-color: #D2D3D5;
    margin: .2rem;
}

.social-icons ul li:last-child{
    margin-right: .3rem;
}

/* Navbar
***************************************/
.navbar{
    flex-grow: 1.5;
    display: flex;
    justify-content: center;
    align-items: stretch;
    margin-top: 1.5rem;
}

.navbar .menu{
    flex-grow: 1;
    display: flex;
    align-items: center;
}

.navbar .menu div{
    flex-grow: 2;
    height: 100%;
    margin: 0 auto;
    background-color: #97989A;
    border: 1px solid var(--white);
}

/* Articles
***************************************/
.articles{
    flex-grow: 10;
    display: flex;
    justify-content: center;
    align-items: stretch;
    margin-top: 1.5rem;
}

.article{
    flex-grow: 1;
    background-color: #97989A;
    border: 1px solid var(--white);
}

.article:nth-child(2){
    border-left: .2rem solid var(--white);
    border-right: .2rem solid var(--white);
}

/* Main Section
***************************************/
.main-section-container{
    flex-grow: 12;
    display: flex;
    justify-content: center;
    align-items: stretch;
    margin-top: 1.5rem;
}

.left-bar{
    flex-grow: 1;
    background-color: #858688;
}

.main-section{
    flex-grow: 4;
    background-color: #4B4B4D;
}

.right-bar{
    flex-grow: 1;
    background-color: #858688;
}

/* Footer
***************************************/
.footer{
    flex-grow: 2;
    margin-top: 1.5rem;
    background-color: #4B4B4D;
}